.summaryItemWrapper {
    margin: 30px 0 25px 0;
}
.summary {
    display: grid;
    // grid-template-columns: repeat(4, 4fr);
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;

    @media (max-width: 406px) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .summaryItem {
        background: #191a1d;
        height: 97px;
        border: 1px solid #202124;
        border-radius: 8px;
        padding: 20px 20px;

        .summaryPra {
            font-weight: 700;
            font-size: 13px;
            line-height: 18px;
            color: #6b6e78;
            margin-bottom: 6px !important;
        }

        .summaryHeading {
            font-weight: 500;
            font-size: 24px;
            line-height: 34px;
            color: #ffffff;

            @media (max-width: 576px) {
                font-size: 18px;
            }

            &:nth-child(3) {
                color: #17bd8d !important;
            }
        }
    }
}

.DonutChart {
    background: #191a1d;
    border: 1px solid #202124;
    border-radius: 8px;
    padding: 30px 30px;

    @media (max-width: 667px) {
        padding: 0 !important;
    }

    .DonutChartHeading {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        @media (max-width: 667px) {
            padding: 30px 30px;
        }
    }
}

.tableWrapper {
    background: #191a1d;
    border: 1px solid #202124;
    border-radius: 8px;
    padding: 30px 30px;

    @media (max-width: 667px) {
        padding: 30px 12px;
    }

    .cointable {
        max-height: 500px;
        overflow-y: scroll;

        /* Scrollbar Styling */
        &::-webkit-scrollbar {
            height: 348px;
            width: 3px;
        }

        &::-webkit-scrollbar-track {
            background-color: #4c4d54;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: #8d8f98;
        }
    }
    .tableHeading {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
    }

    .table {
        thead {
            tr {
                th {
                    background: rgba(13, 153, 255, 0.1);
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 18px;
                    color: #0d99ff;
                    border: none;
                    border-bottom-width: 0;

                    &:first-child {
                        border-top-left-radius: 6px;
                        border-bottom-left-radius: 6px;
                    }
                    &:last-child {
                        border-top-right-radius: 6px;
                        border-bottom-right-radius: 6px;
                    }
                }
            }
        }
        tbody {
            tr {
                &:nth-child(odd) {
                    td {
                        background: #191a1d;
                        box-shadow: 0px 1px 0px #202124;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 22px;
                        color: #8d8f98;
                    }
                }
                &:nth-child(even) {
                    td {
                        background: #202124;
                        box-shadow: 0px 1px 0px #202124;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 22px;
                        color: #8d8f98;
                    }
                }
            }
        }
    }
}

.table > :not(caption) > * > * {
    border-bottom-width: 0px;
    padding: 0.5rem 20px;
}

@media (min-width: 991px) and (max-width: 1200px) {
    .barChartWrapper {
        .apexcharts-svg {
            width: 488px !important;
        }
    }
}
.DonutWrapper {
    .apexcharts-svg {
        width: 691px;
        @media (max-width: 1600px) {
            width: 500px !important;
        }

        @media (min-width: 1200px) and (max-width: 1400px) {
            width: 370px !important;
        }
        @media (min-width: 991px) and (max-width: 1200px) {
            width: 370px !important;
        }
        @media (min-width: 600px) and (max-width: 990px) {
            width: 500px !important;
        }
        @media (min-width: 380px) and (max-width: 569px) {
            width: 300px !important;
        }
        @media (max-width: 379px) {
            width: 300px !important;
        }
    }
    .apexcharts-canvas {
        foreignObject {
            width: 600px !important;

            @media (max-width: 1600px) {
                width: 485px !important;
            }
        }

        .apexcharts-legend {
            position: absolute;
            left: auto;
            top: 24px;
            right: 5px;
            width: 247px;
            // height: 100%;
            display: flex;
            flex-wrap: wrap;

            // @media (min-width:667px) and (max-width:991px) {
            //     width: 600px;
            //     height: 300px;
            // }
        }
    }
}
