


#multi_step_form .multi_step_form_form .inputBot{
    position: relative;
    top: -3px;
    right: -8px;
    cursor: help;
}
#multi_step_form .multi_step_form_form .bot{
 box-shadow: none;
    border: none;
    height: 50px;
    background: #191A1D;
    border-radius: 12px;
    border: 2px solid #191A1D;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.16759 6.30511C7.29917 6.21739 7.4617 6.13899 7.64922 6.07831L7.64923 7.5216C7.4617 7.46091 7.29917 7.38251 7.16759 7.29479C6.8581 7.08846 6.79922 6.89677 6.79922 6.79995C6.79922 6.70313 6.8581 6.51144 7.16759 6.30511Z' fill='%234C4D54'/%3E%3Cpath d='M9.34923 10.9216L9.34923 9.47831C9.53675 9.53899 9.69928 9.6174 9.83086 9.70511C10.1404 9.91145 10.1992 10.1031 10.1992 10.2C10.1992 10.2968 10.1404 10.4885 9.83086 10.6948C9.69929 10.7825 9.53675 10.8609 9.34923 10.9216Z' fill='%234C4D54'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.49922 15.3C12.2548 15.3 15.2992 12.2555 15.2992 8.49995C15.2992 4.74442 12.2548 1.69995 8.49922 1.69995C4.74368 1.69995 1.69922 4.74442 1.69922 8.49995C1.69922 12.2555 4.74368 15.3 8.49922 15.3ZM9.34922 4.24995C9.34922 3.78051 8.96866 3.39995 8.49922 3.39995C8.02978 3.39995 7.64922 3.78051 7.64922 4.24995V4.32815C7.12086 4.42737 6.63217 4.61891 6.2246 4.89063C5.61118 5.29958 5.09922 5.95788 5.09922 6.79995C5.09922 7.64202 5.61118 8.30033 6.2246 8.70928C6.63218 8.98099 7.12087 9.17254 7.64923 9.27176L7.64923 10.9218C7.31688 10.8139 7.07051 10.6521 6.93239 10.4929C6.62473 10.1383 6.08788 10.1003 5.73331 10.4079C5.37874 10.7156 5.34071 11.2525 5.64837 11.607C6.12649 12.158 6.84984 12.5212 7.64922 12.6714L7.64922 12.7499C7.64921 13.2194 8.02976 13.5999 8.4992 13.6C8.96864 13.6 9.34921 13.2194 9.34922 12.75L9.34922 12.6718C9.87758 12.5725 10.3663 12.381 10.7739 12.1093C11.3873 11.7003 11.8992 11.042 11.8992 10.2C11.8992 9.35788 11.3873 8.69957 10.7738 8.29062C10.3663 8.01891 9.87758 7.82737 9.34923 7.72815L9.34922 6.07809C9.68157 6.186 9.92794 6.34783 10.0661 6.50702C10.3737 6.86159 10.9106 6.89962 11.2651 6.59196C11.6197 6.2843 11.6577 5.74745 11.3501 5.39288C10.872 4.84186 10.1486 4.47873 9.34922 4.32846V4.24995Z' fill='%234C4D54'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: left 18px center;
    padding-left: 45px;
}


