.apexcharts-toolbar{
    display: none;
}

.apexcharts-xaxis #SvgjsLine8786{
    stroke: #000;
}

.apexcharts-gridlines-vertical line{
  
        stroke: none !important;
    
}

// .barChartWrapper{
// .apexcharts-svg{
//     width: 691px;
// }
// .apexcharts-canvas{
 
   
//     .apexcharts-legend{
//     position: absolute;
//     left: auto;
//     top: 24px;
//     // right: 5px;
//     // width: 247px;
//     // height: 100%;
//     display: flex;
//     flex-wrap: wrap;
//     }
// }
// }

.apx-legend-position-right{
    
}